<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>

<div class="container">
    <div class="row" th:if="${message}">
        <div class="col col-sm-12">
            <div class="text-center alert alert-info alert-dismissible fade show" role="alert">
                [[${message}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <form th:action="@{/users/add}" th:method="post" th:object="${User}">
        <div class="row">
            <div class="input-group mb-3 col-sm-12">
                <span class="input-group-text">First Name</span>
                <input maxlength="50" th:field="${user.firstName}" type="text" class="form-control" required>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-sm-12">
                <span class="input-group-text">Last Name</span>
                <input maxlength="50" th:field="${user.lastName}" type="text" class="form-control" required>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-sm-12">
                <span class="input-group-text">Email</span>
                <input maxlength="50" th:field="${user.email}" type="email" class="form-control" required>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-sm-12">
                <span class="input-group-text">Password</span>
                <input maxlength="50" th:field="${user.password}" type="password" class="form-control" required>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <button type="submit" class="btn btn-primary">Create Account</button>
                <a th:href="@{/index}" role="button" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>


</body>

</html>