<div class="col-md-3" th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">
    <!-- ======= Sidebar ======= -->
    <div class="aside-block">
        <h3 class="aside-title">Video</h3>
        <div class="video-post">
            <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
                <span class="bi-play-fill"></span>
                <img src="../assets/img/post-landscape-5.jpg" alt="" class="img-fluid">
            </a>
        </div>
    </div><!-- End Video -->

    <div class="aside-block">
        <h3 class="aside-title">Categories</h3>
        <ul class="aside-links list-unstyled">
            <li><a th:href="@{/business}"><i class="bi bi-chevron-right"></i> Business</a></li>
            <li><a th:href="@{/culture}"><i class="bi bi-chevron-right"></i> Culture</a></li>
            <li><a th:href="@{/lifestyle}"><i class="bi bi-chevron-right"></i> Lifestyle</a></li>
        </ul>
    </div><!-- End Categories -->

</div>
